.content{
	margin-top: 30px;
}
.edit-header h4{
	color: black;
}
.todo-edit input{
	width: 300px;
}
.todo-edit select{
	width: 300px;
	overflow: hidden;
}
.todo-edit textarea{
	width: 300px;
}
.todo-edit label{
	font-weight: bold;
}
.todo-resume p.true{
	text-decoration: line-through;
	background: transparent url('strike.png') 0 50% repeat-x;
}
.todo-resume p{
	color: black;
	text-align: center;
}
.todo-resume input{
	vertical-align: top;
}

.inline *{
	display: inline;
}
.inline{
	margin-left: 10px;
	margin-right: 10px;
}
.basic-controls label{
	font-weight: bold;
}
.basic-controls{
	margin-bottom: 10px;
}


