<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">
    
    <description>Helpers Tags</description>
    <tlib-version>1.0</tlib-version>
    <short-name>helper</short-name>
    
    <tag>
    	<description>Url Prettifier</description>
    	<name>urlPrettifier</name>
    	<tag-class>br.com.gtac.edl.web.tag.UrlPrettifier</tag-class>
    	<body-content>empty</body-content>
    	<attribute>
    		<name>url</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
 	    <attribute>
    		<name>var</name>
    		<required>false</required>
    		<rtexprvalue>no</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
    </tag>
    
    <tag>
    	<description>Date Prettifier</description>
    	<name>datePrettifier</name>
    	<tag-class>br.com.gtac.edl.web.tag.DatePrettyfier</tag-class>
    	<body-content>empty</body-content>
    	<attribute>
    		<name>date</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.util.Date</type>
    	</attribute>
 	    <attribute>
    		<name>var</name>
    		<required>false</required>
    		<rtexprvalue>no</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
    </tag>
  <tag>
    	<description>Date Formatter</description>
    	<name>BusDateFormat</name>
    	<tag-class>br.com.gtac.edl.web.tag.BusDateFormatter</tag-class>
    	<body-content>empty</body-content>
    	<attribute>
    		<name>date</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>br.com.gtac.edl.core.service.companies.j3.data.J3TravelDate</type>
    	</attribute>
    	<attribute>
    		<name>fromDate</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.util.Date</type>
    	</attribute>
    	<attribute>
    		<name>type</name>
    		<required>false</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
 	    <attribute>
    		<name>var</name>
    		<required>false</required>
    		<rtexprvalue>no</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
    </tag>
      <tag>
    	<description>creates a Bus Station variable</description>
    	<name>BusStationTag</name>
    	<tag-class>br.com.gtac.edl.web.tag.BusStationTag</tag-class>
    	<body-content>empty</body-content>
    	<attribute>
    		<name>stationId</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
 	    <attribute>
    		<name>var</name>
    		<required>true</required>
    		<rtexprvalue>no</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
    </tag>
    <tag>
    	<description>creates a Bus Company variable</description>
    	<name>BusCompanyTag</name>
    	<tag-class>br.com.gtac.edl.web.tag.BusCompanyTag</tag-class>
    	<body-content>empty</body-content>
    	<attribute>
    		<name>key</name>
    		<required>true</required>
    		<rtexprvalue>yes</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
 	    <attribute>
    		<name>var</name>
    		<required>true</required>
    		<rtexprvalue>no</rtexprvalue>
    		<type>java.lang.String</type>
    	</attribute>
    </tag>
  
</taglib>