<%@ tag language="java" pageEncoding="UTF-8"%>
<div class="inline">
	<label>Formas de pagamento:</label>
	<img alt="visa" src="../../resources/img/visa.png"> 
	<img alt="visa" src="../../resources/img/mastercard.png"> 
	<img alt="visa" src="../../resources/img/hipercard.png"> 
	<img alt="visa" src="../../resources/img/amex.png"> 
	<img alt="visa" src="../../resources/img/elo.png"> 
	<img alt="visa" src="../../resources/img/dinners.png"> 
	<img alt="visa" src="../../resources/img/aura.png"> 
</div> 