<%@ tag language="java" pageEncoding="UTF-8"%>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181514068591471";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  window.___gcfg = {lang: 'pt-BR'};
	
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div class="socials" style="position: absolute;">
	<div class="fb-like" data-href="https://www.facebook.com/pages/Guich&#xea;-Virtual/126311034187483" data-send="false" data-layout="button_count" data-width="85" data-show-faces="false"></div>
	<div style="margin-top: -21px!important; margin-left: 110px;"><a href="https://twitter.com/guichevirtual" class="twitter-follow-button" data-lang="pt" data-show-screen-name="false" data-show-count="true" data-lang="en">Seguir</a></div>
	<%-- <div class="g-plusone"></div> --%>
	

</div>
