<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<body>
		<p>Olá,</p>
		${message}
		<br>
		Acesse em: ${inviteUrl}
		
	</body>
</html>